this is feed index
<div class="entry">
  <% @entries.each do |entry| %>
    <p><%= entry.feed.title %>  <%= link_to entry.title, entry.url %>  <%= entry.published.strftime("%Y年%m月%d日 %H時%M分") %></p>
  <% end %>
</div>
