<div class="">
  購読一覧
</div>
<% @feeds.each do |feed| %>
  <div class="">
    <%= feed.title %><%= link_to "購読をやめる", delete_user_feed_path(id: feed.id), method: :delete,
                                  data: { confirm: "本当に解除しますか?" } %>
  </div>
<% end %>
